@media (min-width: 768px) {
  .navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left:0;
    padding-right:0;
  }
  .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-x: visible;
  }

    .navbar
    {
        margin-right: 0;
        margin-left: 0;
        background-color: #49525C !important;
    }	

    .navbar-nav,
    .navbar-nav > li,
    .navbar-left,
    .navbar-right,
    .navbar-header
    {float:none !important;}

    .navbar-right .dropdown-menu {left:0;right:auto;}
    .navbar-collapse .navbar-nav.navbar-right:last-child {
        margin-right: 0;
    }
    
}

@media (max-width: 768px) {
    #left{
        height:0 !important;
    }
}


html,body{
    height: 100%;
    background-color:#ffffe6;
}
#dashboard{
    background-color:#ffffe6;
    height: 100%;
    width: 100%;
    margin:0;
    padding: 0;
}
#dashboard>.row{
    margin:0;
    padding: 0;
}
#left{
    position: fixed;
    background:#49525C !important;
    padding: 0;
    margin: 0;
    height: 100%; 
}

#precily{
    color:#00C775;
    text-align: center;
}

#sidebar-nav{
    border:none;
}

#menu{
    margin: 0;
    background-color: #49525C !important;
    border:none;
    box-shadow: none;
}

#menu>.navbar-header, #menu>.navbar-collapse{
    background-color: #49525C !important;
}

#menu>.navbar-header{
    border-bottom: 4px inset #383f47;
    height: 60px;
}

.navbar-brand{
    font-size: 30px;
    width: 100%;
    color:#00C775 !important;    
}

.navbar-brand>img{
    height: 65px;
    width: 100px;
    margin-bottom: 20px;
    margin-left: 50px;
}
.navbar-collapse>ul>li>a{
    padding:10px 0 10px 30px; 
    text-align: start;
    color:white !important;
}

.navbar-collapse>ul>li>a>span{
    color:#00C775 !important;    
}
.navbar-collapse>ul>li>.active{
    background-color:#9ba5b0 !important;    
}
.navbar-collapse>ul>li:hover{
    background-color:#9ba5b0 !important;
}



/*setting template css starts here */
#settingDiv{
    margin-top:10%;
    background-color: #ffffcc;
    border-radius:5px; 
}
#errorMsg{
    color:red;
    text-align: center;
}
/*setting template css ends here*/


/* pricing template css starts here */
#pricingDiv{
    margin-top:10%;
    background-color: #ffffcc;
    border-radius:5px;
}

/* pricing template css ends here*/

/* add book template css starts here */
#addBookDiv{
    margin-top:5%;
    background-color: #ffffcc;
    border-radius:5px;
    margin-bottom: 5%;
    padding-bottom: 20px  
}
#addBookForm>h2{
    text-align: center;
}
#addBookBtn{
    margin-top:5%;
    margin-left:30%; 
}
.input-group{
    width: 70% !important;
}
#bookPic{
    height: 100% !important;
}
/* add book template css ends here */

.jsgrid-grid-header{
    margin-top: 30px;
}


#author{
    position: fixed !important;
    right: 40%;
    padding-top:10px;
}
#author>P{
    text-align: center;
}
#author>ul{
    text-align: center;
    width: 100%;
    height: 50px;
    max-height: 60px;
    padding-left: 20; 
    margin: auto;
    
}

figure>img{
    margin-left:10% !important;
    padding: 0;
    border-radius: 40%;
    width: 80%; 
    max-height: 136px;
    max-width: 136px;
}
figcaption{
    text-align: center;
}
#hireMe{
    max-width: 220px;
    margin-top:10px;
    width:100%;
    background-color: #00B0E9;
    color:white;
}
#hireMe>a{
    color: white;
    width: 100%;
    text-align: center;
    text-decoration: none;
}
#hireMe>a:hover{
    text-decoration: none;  
}
#hireMe:hover{
    background-color:#ff00ff;
}
#middle{
    padding-top: 0 !important;
}
#middle >div:first-child{
     background-color:#ffffe6;
     padding:20px;  
}
@media(max-width:768px){
    #author{
        position: static !important;      
    }
    #author>figure>img{
        display: block !important;
        margin:0 auto !important; 
    }
    #hireme{
        display: block;
        margin: auto;
    }
    .social{
        width: 38% !important;
        margin-left:31% !important;
    }
    .social>li{
        margin-bottom:5px !important; 
    }
  
}

.social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
    list-style: none;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: #EDEFF1;
}
.social li:hover {
	border: 2px solid #2c3e50;
	background: #ff00ff;
}
.social li a i {
	font-size: 16px;
	margin: 8px 0 0 5px;
	color: #EDEFF1 !important;
}