
body{
    background-color:#ffffe6;
}
nav{
    background-color: #49525C !important;
}
header,header>nav,header>nav>div{
    background-color: #49525C !important;
    height: 50px;
}
header>nav>div>h3{
    margin:10px auto;
    color: #00C775 !important;
}
#loginDiv{
    background: white;
    opacity: .9;
    margin-top:100px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: -1px 1px 5px 3px #aaa; 
}

#login>h2{
    text-align: center;
    color: #00C775 !important;
}

#errorMsg{
    color:red;
}
